@model FirstZX.Core.DTO.DeleteRowForAdmin
@{
    ViewData["Title"] = "DeleteRow";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">Delete Row</h3>
                    </div>
                    <div class="card-body">
                            <div asp-validation-summary="All"></div>
                        <form asp-area="Admin" asp-action="ConfirmeDeleteRow" method="post">
                            <div>
                                <input type="hidden" asp-for="BankMonthId"/>
                                <input type="hidden" asp-for="UserId"/>
                            </div>
                            <table id="datatablesSimple" class="dataTable-table border border-top">
                                <thead>
                                <tr>

                                    <th>Saving</th>
                                    <th>Invest Month</th>
                                    <th>Direct Sell</th>
                                    <th>In Direct</th>
                                    <th>Uni Level</th>
                                    <th>Binary</th>
                                    <th>Matrix</th>

                                </tr>
                                </thead>
                                <tr>
                                    <td>@Model.Saving</td>
                                    <td>@Model.InvestMonth</td>
                                    <td>@Model.DirectSell</td>
                                    <td>@Model.InDirect</td>
                                    <td>@Model.UniLevel</td>
                                    <td>@Model.Binary</td>
                                    <td>@Model.Matrix</td>
                                </tr>

                                <tbody>




                                </tbody>
                            </table>





                            <div class="d-grid">
                                <button type="submit" class="btn  btn-danger btn-block">Ism Sure Delete</button>
                            </div>
                        </form>
                        </div>

                </div>
            </div>
        </div>
    </div>
</main>

