@model List<FirstZX.Datalayer.Entities.User.Answer>
@{
    ViewData["Title"] = "AddForcast";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
@if (ViewBag.Issuccuss == true)
{
    <div class="alert alert-success">
        <strong>Saved Success!</strong> Your bank changes have been saved

    </div>
}
<div class="card mb-4">
    <div class="card-header">
        <div class="row">
        </div>
        <div class="row">
            <div class="col-8">Add Forcast</div>
            <div class="col-2">
                <div class="d-grid">
                    <a type="button" class="btn  btn-warning btn-block" href="/userpanel/userpanel">Back to User Panel </a>
                </div>
            </div>

        </div>

    </div>
    <div class="card-body">

        <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">

            <br />

            <div asp-validation-summary="All"></div>
            <div class="dataTable-container ">
                <form asp-area="UserPanel" asp-controller="UserPanel" asp-action="AddForcast" method="post">

                    @for (var i = 0; i < Model.Count; i++)
                    {
                        <div>
                            <input type="hidden" asp-for="@Model[i].UserAnswerId" />
                            <input type="hidden" asp-for="@Model[i].IsDeactive" />
                            <input type="hidden" asp-for="@Model[i].AnswerId" />

                        </div>
                    }
                    <table id="datatablesSimple" class="dataTable-table border border-top">
                        <thead>
                            <tr>
                                <th>Row</th>
                                <th>Coin</th>
                                <th>Ratio Of Coin</th>
                                <th>Buy or Sell</th>
                                <th>Percentage</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>

                            @for (var i = 0; i < Model.Count; i++)
                            {

                                <tr>
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="@Model[i].Cryptocurrency" />
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="@Model[i].RatioCryptocurrency" />
                                    </td>

                                    <td>
                                        <select  class="form-control" asp-for="@Model[i].BuyOrSell" >
                                            <option value=1 style="color: green" >buy</option> 
                                            <option value=2 style="color: red">sale</option> 
                                        </select>
                                    </td>
                                    <td>
                                        <input class="form-control" asp-for="@Model[i].Percentage" />
                                    </td>
                                   
                                </tr>
                            }


                        </tbody>
                    </table>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-success  ">Save </button>
                    </div>
                </form>
            </div>


        </div>
    </div>
</div>


